[data-tooltip]::after{
    background: $color-neutral-1200;
    border-radius: 4px;
    color: $color-neutral-000;
    content: attr(data-tooltip);
    font-family: 'Segoe UI';
    font-size: 12px;
    left: 0%;
    margin-top: 4px;
    opacity: 0;
    padding: 4px 8px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transition: all .1s ease-out .1s;
    white-space: nowrap;
    z-index: 30;
}

[data-tooltip-position='center']::after{
    left: 50%;
    transform: translateX(-50%);
}

[data-tooltip-position='left']::after{
    left: 0%;
}

[data-tooltip-position='right']::after{
    left: -100%;
}

[data-tooltip]:hover::after{
    opacity: 1;
}