// Margin

.mt-4{
    margin-top: 4px;
}

.mt-8{
    margin-top: 8px;
}

.mr-4{
    margin-right: 4px;
}

.mr-8{
    margin-right: 8px;
}

.mb-4{
    margin-bottom: 4px;
}

.mb-8{
    margin-bottom: 8px;
}

.ml-4{
    margin-left: 4px;
}

.ml-8{
    margin-left: 8px;
}


// Padding

.p-8{
    padding: 8px;
}

.p-12{
    padding: 12px;
}

.p-16{
    padding: 16px;
}

.border-radius-medium{
    border-radius: 4px;
}

.border-basic{
    border: 1px solid $color-neutral-100;
}

.d-block{
    display: block;
}

.d-flex{
    display: flex;
    &.ai-center{
        align-items: center;
    }
    &.jc-center{
        justify-content: center;
    }
}