// Colors
$color-neutral-000: #FFFFFF;
$color-neutral-100: #ECEDEE;
$color-neutral-200: #DADBDE;
$color-neutral-300: #C7C9CD;
$color-neutral-400: #B5B6BC;
$color-neutral-500: #A2A4AC;
$color-neutral-600: #8F929B;
$color-neutral-700: #7D808A;
$color-neutral-800: #6A6E79;
$color-neutral-900: #575C69;
$color-neutral-1000: #454958;
$color-neutral-1100: #323747;
$color-neutral-1200: #202537;
$color-neutral-1300: #0D1326;

$enmedio-orange-500: #f7a600;
$enmedio-orange-600: #ed7300;